<div id="ShowSlideShowHere">
  <div class="container vegas-banner">
    <h1 class="title-content">Vegas <strong class="title-strong">2</strong></h1>
    <h2 class="title-content-h2">Background slideshow</h2>
    <p class="title-content-p">Ken Burns effect</p>
  </div>
  <p class="content-banner">
    Download VEGAS
  </p>
</div>
<div class="container-fluid text-center service">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
      <div class="card">
        <div class="view overlay">
          <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <div class="card-body">
          <h4 class="card-title">Tên Dịch Vụ</h4>
          <p class="card-text">Giới thiệu chi tiết về dịch vụ</p>
          <a href="#" class="btn btn-primary">Xem Ngay</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
      <div class="card">
        <div class="view overlay">
          <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <div class="card-body">
          <h4 class="card-title">Tên Dịch Vụ</h4>
          <p class="card-text">Giới thiệu chi tiết về dịch vụ</p>
          <a href="#" class="btn btn-primary">Xem Ngay</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
      <div class="card">
        <div class="view overlay">
          <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <div class="card-body">
          <h4 class="card-title">Tên Dịch Vụ</h4>
          <p class="card-text">Giới thiệu chi tiết về dịch vụ</p>
          <a href="#" class="btn btn-primary">Xem Ngay</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
      <div class="card">
        <div class="view overlay">
          <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <div class="card-body">
          <h4 class="card-title">Tên Dịch Vụ</h4>
          <p class="card-text">Giới thiệu chi tiết về dịch vụ</p>
          <a href="#" class="btn btn-primary">Xem Ngay</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container introduce">
    <div class="row">
      <div class="col-12">
        <div class="content-introduce">
          <span class="text-uppercase font-weight-bold">TẠI SAO PHẢI GIẶT LÀ MỖI NGÀY KHI ĐÃ CÓ CLEAN LAUNDRY</span>
        </div>
        <div class="slogan">
          <span>“Mỗi người đều có 24h, nếu ai đó cho bạn thời gian của mình, thì đó là món quà quý giá nhất trên thế giới này”</span> <br>
          <span>Frank Tiger</span>
        </div>
        <div class="line"></div>
        <div>
          <p>Với chi phí thấp và dịch vụ giao nhận tận nơi <strong>NHANH CHÓNG</strong> & <strong>TIỆN LỢI</strong> <span class="text-warning">"Hoang hoang"</span>  được thành lập với sứ mệnh giải phóng con người khỏi vòng tuần hoàn của việc giặt ủi mỗi ngày, giúp bạn tiết kiệm thời gian dành cho công việc, gia đình, nhiều thời gian hơn cho việc chăm sóc bản thân khi cuộc sống ngày càng năng động và hiện đại.</p>
        </div>
        <div class="slogan-2">
          <p><span class="text-warning">“<strong>CLEAN LAUNDRY</strong>”</span> <br><em>“Trao lại giây phút thảnh thơi cho bạn”</em></p>
        </div>
        <div class="button-introduce">
          <button type="button" class="btn btn-outline-warning btn-introduce">XEM NGAY</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row text-center">
    <div class="col-12">
      <div class="text-center section-title-man">
        <h2 class="text-uppercase">QUY TRÌNH DOOR TO DOOR SERVICE 4 BƯỚC</h2>
      </div>
      <div class="line"></div>
    </div>
  </div>
  <div class="row" style="padding-top: 50px">
    <div class="col-3 text-center">
      <span class="fa fa-phone text-primary"></span>
      <div class="icon-box-text">
        <p>Bước 1</p>
        <p>Đặt dịch vụ qua hotline</p>
      </div>
    </div>
    <div class="col-3 text-center">
      <span class="fa fa-home text-primary"></span>
      <div class="icon-box-text">
        <p>Bước 2</p>
        <p>Đặt dịch vụ qua hotline</p>
      </div>
    </div>
    <div class="col-3 text-center">
      <span class="fa fa-clock-o text-primary"></span>
      <div class="icon-box-text">
        <p>Bước 3</p>
        <p>Nhận quần áo tại nhà</p>
      </div>
    </div>
    <div class="col-3 text-center">
      <span class="fa fa-heart-o text-primary"></span>
      <div class="icon-box-text">
        <p>Bước 4</p>
        <p>Giặt ủi trong ngày</p>
      </div>
    </div>
  </div>
</div>
