<div id="ShowSlideShowHere">
  <div class="container vegas-banner">
    <h1 class="title-content"><strong class="title-strong"></strong></h1>
    <h2 class="title-content-h2"></h2>
    <p class="title-content-p"></p>
  </div>
  
</div>
<div class="container-fluid text-center service">
  <h1 id="Dichvu" style="text-align: center;margin-bottom: 20px;margin-top: 20px;">Dịch vụ giặt là</h1>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
      <div class="card">
        <div class="view overlay">
          <!-- <img class="card-img-top" src="../../assets/images/Layout/01.jpge" alt="Card image cap"> -->
          <%= image_tag("Layout/dich-vu-giat-la-chuyen-nghiep", :alt => "images", class: "card-img-top") %>
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <div class="card-body">
          <h4 class="card-title">Lợi ích của khách hàng</h4>
          <a href="#" class="btn btn-primary">Xem Ngay</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
      <div class="card">
        <div class="view overlay">
          <%= image_tag("Layout/dich-vu-giat-uot.png", :alt => "images", class: "card-img-top") %>
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <div class="card-body">
          <h4 class="card-title">Dịch vụ giặt ướt</h4>
          <a href="#" class="btn btn-primary">Xem Ngay</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
      <div class="card">
        <div class="view overlay">
          <%= image_tag("Layout/dich-vu-giat-kho-la-hoi.png", :alt => "images", class: "card-img-top") %>
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <div class="card-body">
          <h4 class="card-title">Dịch vụ giặt khô là hơi</h4>
          <a href="#" class="btn btn-primary">Xem Ngay</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
      <div class="card">
        <div class="view overlay">
          <%= image_tag("Layout/dich-vu-la-hoi.png", :alt => "images", class: "card-img-top") %>
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <div class="card-body">
          <h4 class="card-title">Dịch vụ là hơi</h4>
          <a href="#" class="btn btn-primary">Xem Ngay</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container introduce">
    <div class="row">
      <div class="col-12">
        <div class="content-introduce">
          <span class="text-uppercase font-weight-bold">TẠI SAO PHẢI GIẶT LÀ MỖI NGÀY KHI ĐÃ CÓ CLEAN LAUNDRY</span>
        </div>
        <div class="slogan">
          <span>“Mỗi người đều có 24h, nếu ai đó cho bạn thời gian của mình, thì đó là món quà quý giá nhất trên thế giới này”</span> <br>
          <span>Frank Tiger</span>
        </div>
        <div class="line"></div>
        <div>
          <p>Với chi phí thấp và dịch vụ giao nhận tận nơi <strong>NHANH CHÓNG</strong> & <strong>TIỆN LỢI</strong> <span class="text-warning">"Hoang hoang"</span>  được thành lập với sứ mệnh giải phóng con người khỏi vòng tuần hoàn của việc giặt ủi mỗi ngày, giúp bạn tiết kiệm thời gian dành cho công việc, gia đình, nhiều thời gian hơn cho việc chăm sóc bản thân khi cuộc sống ngày càng năng động và hiện đại.</p>
        </div>
        <div class="slogan-2">
          <p><span class="text-warning">“<strong>CLEAN LAUNDRY</strong>”</span> <br><em>“Trao lại giây phút thảnh thơi cho bạn”</em></p>
        </div>
        <div class="button-introduce">
          <button type="button" class="btn btn-outline-warning btn-introduce">XEM NGAY</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row text-center">
    <div class="col-12">
      <div class="text-center section-title-man">
        <h2 class="text-uppercase">QUY TRÌNH DOOR TO DOOR SERVICE 4 BƯỚC</h2>
      </div>
      <div class="line"></div>
    </div>
  </div>
  <div class="row" style="padding-top: 50px">
    <div class="col-3 text-center">
      <span class="fa fa-phone text-primary"></span>
      <div class="icon-box-text">
        <p>Bước 1</p>
        <p>Đặt dịch vụ qua hotline</p>
      </div>
    </div>
    <div class="col-3 text-center">
      <span class="fa fa-home text-primary"></span>
      <div class="icon-box-text">
        <p>Bước 2</p>
        <p>Báo giá dịch vụ</p>
      </div>
    </div>
    <div class="col-3 text-center">
      <span class="fa fa-clock-o text-primary"></span>
      <div class="icon-box-text">
        <p>Bước 3</p>
        <p>Tiếp nhận đồ giặt</p>
      </div>
    </div>
    <div class="col-3 text-center">
      <span class="fa fa-heart-o text-primary"></span>
      <div class="icon-box-text">
        <p>Bước 4</p>
        <p>Trả đồ tận tay</p>
      </div>
    </div>
  </div>
</div>
