<div id="ShowSlideShowHere">
  <div class="container vegas-banner">
    <h1>Vegas <strong>2</strong></h1>
    <h2>Background slideshow</h2>
    <p>Ken Burns effect</p>
  </div>

  <p class="content-banner">
    Download VEGAS
  </p>
</div>
