body, #ShowSlideShowHere {
  font-family: Raleway;
}

#ShowSlideShowHere {
  font-weight: 900;
  color: #fff;
  margin: 0;
  padding: 0;
}

.title-content, .title-content-h2, .title-content-p, .title-strong {
  margin: 5px 0;
  padding: 0;
  margin-right: 130px;
  line-height: 1em;
  text-align: right;
  text-transform: uppercase;
  text-shadow:
    -1px -1px 1px rgba(#000, .3),
     1px 1px 1px rgba(#000, .3),
     0 0 10px #000;
}

.title-content {
  font-size: 5.5em;
  letter-spacing: -10px;
  margin-bottom: -10px;
}

.title-content .title-strong {
  position: absolute;
  top: -50px;
  right: 0;
  font-size: 235px;
  opacity: .5;
  margin: 0;
}

.title-content-h2 {
  opacity: .6;
  font-size: 1.7em;
}

.header {
  background-color: #fdc827e6;
}

#ShowSlideShowHere {
  width: 100%;
  height: 613px;
}

.content-banner {
  position: absolute;
  left: 1em;
  bottom: 3em;
  border: 3px solid #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px #000;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 5px #000;
  font-size: 13px;
  color: #fff;
  animation: pulse 4s infinite;
  font-size: 2em;

  @media screen and (max-width: 720px) {
    display: none;
  }
}

.vegas-banner {
  position: absolute;
  bottom: 2em;
  right: 2em;
}

.vegas-overlay {
  opacity: .2;
}

.vegas-timer-progress {
  background: #fff;
}

@keyframes pulse {
  0% {
    transform: scale(.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(.8);
  }
}

i.fa.fa-facebook, i.fa.fa-github, i.fa.fa-twitter, i.fa.fa-google-plus-square {
  font-size: 40px;
  margin: 5px;
  color: #267ea9;
}

.service {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ffc1071f;
}

.line {
  width: 40%;
  height: 3px;
  background: #96cb47;
  left: 50%;
  margin: auto;
}

.content-introduce {
  padding: 15px 0 10px 0;
}

.content-introduce span {
  font-size: 20px;
}

.slogan{
  padding-bottom: 10px;
}

.line {
  margin-bottom: 10px;
}

.btn-introduce {
  border-radius: 99px;
  font-size: 20px;
}

.section-title-man {
  padding-top: 40px;
}

span.fa.fa-phone, span.fa.fa-home, span.fa.fa-clock-o, span.fa.fa-heart-o {
  font-size: 70px;
}

.icon-box-text {
  padding: 10px 0 10px 0;
}

.content-footer {
  padding: 20px 0 10px 0;
}
