<footer class="page-footer font-small teal pt-4 bg-warning">
  <div class="container-fluid text-center">
    <div class="row">
      <div class="col-12">
        <h2>GIẶT SẤY CLEAN LAUNDRY</h2>
      </div>
      <div class="line"></div>
    </div>
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3 content-footer">
        <h5 class="text-uppercase font-weight-bold">Footer text 1</h5>
        <p class="text-center">Content footer</p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3 content-footer">
      <div class="col-md-6 mb-md-0 mb-3">
        <h5 class="text-uppercase font-weight-bold">Footer text 2</h5>
        <p class="text-center">Content footer</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">
    <i class="fa fa-facebook"></i>
    <i class="fa fa-github"></i>
    <i class="fa fa-twitter"></i>
    <i class="fa fa-google-plus-square"></i>
  </div>
</footer>
